@charset "UTF-8";

/* Estilo para telas */


*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header > h1{
    text-align: center;
    background-color: #90ee90;
    padding: 5px;
}
menu > ul > li{
    display: inline-block;
    background-color: #5abb5a;
    padding: 10px;
}
menu > ul{
    background-color: #74d474;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}