@charset "UTF-8";

body{
    background-image: url(../pacote-d013/imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 98vh;
    width: 99vw;
}
img#celular{
    display: block;
    margin: auto;
    padding-top: 10vh;
}
.redes-sociais{
    display: inline;
    position: absolute;
    top: 2%;
    right: 2%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.767);
    width: 8vw;
    border-radius: 50%;
    justify-content: space-between;
    
}
.redes-sociais:hover{
    scale: 1.1;
}